* {
    box-sizing: border-box
}

body {
    background-image: url("/images/background.png");
    font-family: 'Questrial', Helvetica Neue, SansSerif, serif
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid #9c9c9c;
    border-top: 1px solid #9c9c9c;
    text-align: left;
    font-size: 16px;
    background-color: rgb(217, 226, 230);
    color: #000;
}

td {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

a {
    text-decoration: None;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.content_table_row:focus, .content_table_row:hover {
    background-color: rgb(223, 223, 223);
}

.header {
    background-color: #484d4f;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    margin: auto;
    width: 60%;
    overflow: hidden;
    border: 0.5px solid #434647;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.sub-headline {
    font-size: 15px;
    color: #52babc;
}

.header_login {
    background-color: #484d4f;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: #f4fcff;
    margin: auto;
    width: 30%;
    overflow: hidden;
    border: 0.5px solid #434647;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 0px;
}

.content {
    font-size: 20px;
    background-color: rgb(239, 239, 239);
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 60%;
    padding: 10px;
    min-height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content_login {
    font-size: 20px;
    background-color: #efefef;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 30%;
    padding: 10px;
    min-height: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input_file + label {
    border: 1px solid #3b6084;
    color: #3b6084;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 99%;
    cursor: pointer;
}

.input_file:focus + label, .input_file + label:hover {
    background-color: #3b6084;
    color: #fff;
}

.text_input {
    border: 1px solid #3b6084;
    background-color: rgb(239, 239, 239);
    color: #3b6084;
    width: 99%;
    padding: 12px;
    font-size: 16px;
    font-family: 'Questrial';
}

.text_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3b6084;
    opacity: 1; /* Firefox */
}

.text_input:focus, .text_input:hover{
    background-color: #3b6084;
    color: #fff;
}

.text_input:focus::placeholder, .text_input:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.56);
    opacity: 1; /* Firefox */
}

.button_element_logout {
    border: 1px solid #fff;
    color: #f4fcff;
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 13px;
}

.button_element_logout:focus, .button_element_logout:hover{
    background-color: #fff;
    color: #484d4f;
}

.button_element_login {
    color: #f4fcff;
    font-size: 16px;
    text-align: center;
    background-color: #50b0b2;
    margin: auto;
    width: 100%;
    padding: 15px;
}

.button_element_login:focus, .button_element_login:hover{
    background-color: #52989a;
}

.button {
    color: #fff;
    background: #50b0b2;
    border: 1px solid #50b0b2;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    float: right;
    cursor: pointer;
}

.button:focus, .button:hover{
    background-color: #3b7476;
    border: 1px solid #3b7476;
    color: #fff;
}

.button_delete {
    color: #e0797a;
    background: transparent;
    border: none;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.button_delete:focus, .button_delete:hover {
    color: #ac5656;
}

.button_back {
    color: #000;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.button_back:focus, .button_back:hover {
    color: rgba(0, 0, 0, 0.54);
}

.table_link {
    display: block;
    width: 100%;
    height: 100%;
}

.table_data {
    border-bottom: 1px solid #c6c6c6;
}

#icon_row {
    width: 3%;
    padding: 3px;
}

#button_row {
    width: 5%;
}
