<html>

<head>
    <meta charset="utf-8"/>
    <title>Dropbox</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<div class="header">
    <div style="float:left; width:70%; text-align: left;">
        <u>
            Welcome to your dropbox
        </u>

        <p class="sub-headline">
            You are logged in as {{ user.email() }}
        </p>
    </div>

    <div style="float:right; width:30%;">
        <a href="{{ url }}">
            <div class="button_element">
                Logout
            </div>
        </a>
    </div>
</div>

<div class="content">

    <table>
        <!-- upload row -->
        <tr>
            <!-- description -->
            <td class="table_data">
                Upload file:
            </td>

            <!-- form for uploading a file to the blobstore -->
            <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
                <td class="table_data"><input type="file" name="file"></td>
                <td class="table_data"><input type="submit" class="button" value="Upload"></td>
            </form>
        </tr>

        <!-- add directory row -->
        <tr>
            <form method="post" action="/">
                <td class="table_data" colspan="2">
                    <input type="text" class="text_input" name="value" placeholder="Add a new directory..."/>
                </td>

                <td class="table_data">
                    <input type="submit" class="button" name="button" value="Add"/>
                </td>
            </form>
        </tr>
    </table>

    <br>

    <table>

        {% if is_not_in_root %}
            <tr style="background: #dfdfdf">
                <!-- icon -->
                <th id="icon_row">
                    <i class="material-icons">folder_open</i>
                </th>

                <!-- current path -->
                <th colspan="2">
                    {{ current_path }}
                </th>

                <!-- navigate up link -->
                <th id="delete_row">
                    <a href="/?directory_name=../">
                        ../
                    </a>
                </th>

            </tr>

        {% else %}
            <tr style="background: #dfdfdf">
                <!-- icon -->
                <th id="icon_row">
                    <i class="material-icons">folder_open</i>
                </th>

                <!-- current path -->
                <th colspan="3">
                    {{ current_path }}
                </th>
            </tr>
        {% endif %}



        {% if directories %}
            {% for directory in directories %}
                <tr>
                    <!-- icon -->
                    <td class="table_data" id="icon_row">
                        <a href="/?directory_name={{ directory.get().name }}">
                            <i class="material-icons">folder</i>
                        </a>
                    </td>

                    <!-- directory name + link -->
                    <td class="table_data" colspan="2">
                        <a href="/?directory_name={{ directory.get().name }}">
                            {{ directory.get().name }}
                        </a>
                    </td>

                    <!-- delete button -->
                    <td class="table_data" id="delete_row">
                        <form method="post" action="/" style="margin: 0px;">
                            <input type="hidden" name="directory_name" value="{{ directory.get().name }}"/>
                            <input type="submit" name="button" class="button_delete" value="Delete"/>
                        </form>
                    </td>

                </tr>
            {% endfor %}
        {% endif %}

        {% if files %}
            {% for file in files %}
                <tr>
                    <!-- icon -->
                    <td class="table_data" id="icon_row">
                        <a href="/download?file_name={{ file.get().filename }}">
                            <i class="material-icons">insert_drive_file</i>
                        </a>
                    </td>

                    <!-- filename + download link -->
                    <td class="table_data" colspan="2">
                        <a href="/download?file_name={{ file.get().filename }}">
                            {{ file.get().filename }}
                        </a>
                    </td>

                    <!-- delete button -->
                    <td class="table_data" id="delete_row">
                        <form method="post" action="/" style="margin: 0px;">
                            <input type="hidden" name="file_name" value="{{ file.get().filename }}"/>
                            <input type="submit" name="button" class="button_delete" value="Delete"/>
                        </form>
                    </td>

                </tr>
            {% endfor %}
        {% endif %}
    </table>

</div>
</body>

</html>