<html>

<head>
    <meta charset="utf-8"/>
    <title>Dropbox</title>
</head>

<body>
<div class="header">
    <u>Welcome to dropbox</u>
    <p class="sub-headline">
        You are logged in as
        {{ user.email() }}</p>

    <p>You are currently in: {{ current_path }}</p>
    <p>Add a new Directory:</p>
    <form method="post" action="/">
        <input type="text" name="value">
        <input type="submit" name="button" value="Add">
    </form>

    {% if directories %}
    These are your directories in {{ current_path }}:<br>
    {% for directory in directories %}
    <form method="post" action="/">
        {{directory.get().name}}
        <input type="hidden" name="directory_name" value="{{ directory.get().name }}"/>
        <!-- navigate into this directory button -->
        <input type="submit" name="button" value="Navigate"/>
        <!-- delete button -->
        <input type="submit" name="button" value="Delete"/>
    </form>
    {% endfor %}
    {% endif %}

    {% if files %}
    These are your files in {{ current_path }}:<br>
    {% for file in files %}
        {{file.get().filename}}<br>
    {% endfor %}
    {% endif %}

    <br>
    <br>

    {% if is_not_in_root %}
    <br>
    <form method="post" action="/">
        <!-- navigate up button -->
        <input type="submit" name="button" value="Up"/>
    </form>
    <br>
    {% endif %}

    <!-- form for uploading a file to the blobstore -->
    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        Upload File: <input type="file" name="file"/><br/>
        <input type="submit"/>
    </form>

    <a href="{{ url }}">
        <div class="button_element">
            Logout
        </div>
    </a>
</div>
</body>

</html>